.Product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    border: 1px solid rgb(234, 146, 68);
    margin: 10px;
}

.Product button {
    margin-right: 10px;
}

.ProductResult {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
